/* $Colors: Branding */
$color-brand-1: #000000;
$color-brand-2: #acfff4;

/* $Colors: Complementary */
$color-darker-gray: #212121;
$color-dark-gray: #4d4d4d;
$color-shuttle-gray: #7c7c7c;
$color-silver: #999999;
$color-light-silver: #c6c6c6;
$color-lighter-silver: #e6e6e6;
$color-white: #ffffff;


/* $Fonts: Family & weights */
$font-stack-1: 'Spartan', sans-serif;
$font-stack-2: 'Georgia', cursive;


/* $Fonts: Sizes */
$font-size-base: 16px;
$font-size-title: 25px;
