/*
-----------------------------
|| Coded by Ricardo Arévalo ||
-----------------------------
*/

body {
    font-family: 'Sintony', sans-serif;
}
.titleCursive {
    font-family: 'Reenie Beanie', cursive;
    font-weight: normal;
}
a {
    text-decoration: none;
}
.home {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
    height: 100vh;
    gap: 5%;
}
@media (max-width: 800px) {
    .home {
        height: auto;
        width: 80%;
        padding-bottom: 80px;
        padding-top: 40px;
    }
  }

.contactBar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
}
.contactBar__label {
    font-size: 1.8rem;
}
.contactBar__links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
}
.iconLink {
    width: 40px;
    height: 40px;
    display: flex;
    font-size: 1.1rem;
    justify-content: center;
    align-items: center;
    color: black;
    border-radius: 100px;
    transition: all .5s;
    
}
.iconLink:hover {
    background: #A3F9FF;
}
.introSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
    width: 100%;
    margin-top: 1rem;
}
@media (max-width: 800px) {
    .introSection {
        flex-direction: column;
    }
  }
.introSection__about {
    max-width: 50%;
}
.sayHello {
    margin-bottom: 0px;
}
@media (min-width: 800px) {
    .sayHello {
        font-size: 3rem;
    }
  }
@media (max-width: 800px) {
    .introSection__about {
        max-width: 100%;
    }
  }
.introSection__img img{
    width: 100%;
}

.location i {
    color: palevioletred;
}


/* BACKGROUND */

@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #fff;
    overflow: hidden;
    z-index: -1;
}
.background li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    /* background: rgba(255, 255, 255, 0.3); */
    border: 1px solid rgb(13, 247, 243);
    animation: animate 40s linear infinite;
}




.background li:nth-child(0) {
    left: 23%;
    width: 153px;
    height: 153px;
    bottom: -153px;
    animation-delay: 1s;
}
.background li:nth-child(1) {
    left: 88%;
    width: 106px;
    height: 106px;
    bottom: -106px;
    animation-delay: 2s;
}
.background li:nth-child(2) {
    left: 20%;
    width: 121px;
    height: 121px;
    bottom: -121px;
    animation-delay: 8s;
}
.background li:nth-child(3) {
    left: 52%;
    width: 143px;
    height: 143px;
    bottom: -143px;
    animation-delay: 1s;
}
.background li:nth-child(4) {
    left: 19%;
    width: 110px;
    height: 110px;
    bottom: -110px;
    animation-delay: 15s;
}
.background li:nth-child(5) {
    left: 47%;
    width: 157px;
    height: 157px;
    bottom: -157px;
    animation-delay: 10s;
}
.background li:nth-child(6) {
    left: 73%;
    width: 123px;
    height: 123px;
    bottom: -123px;
    animation-delay: 22s;
}
.background li:nth-child(7) {
    left: 86%;
    width: 157px;
    height: 157px;
    bottom: -157px;
    animation-delay: 26s;
}
.background li:nth-child(8) {
    left: 62%;
    width: 155px;
    height: 155px;
    bottom: -155px;
    animation-delay: 28s;
}
.background li:nth-child(9) {
    left: 50%;
    width: 145px;
    height: 145px;
    bottom: -145px;
    animation-delay: 8s;
}
.background li:nth-child(10) {
    left: 41%;
    width: 149px;
    height: 149px;
    bottom: -149px;
    animation-delay: 47s;
}
.background li:nth-child(11) {
    left: 40%;
    width: 113px;
    height: 113px;
    bottom: -113px;
    animation-delay: 33s;
}
.background li:nth-child(12) {
    left: 34%;
    width: 107px;
    height: 107px;
    bottom: -107px;
    animation-delay: 49s;
}
.background li:nth-child(13) {
    left: 40%;
    width: 135px;
    height: 135px;
    bottom: -135px;
    animation-delay: 50s;
}
.background li:nth-child(14) {
    left: 74%;
    width: 125px;
    height: 125px;
    bottom: -125px;
    animation-delay: 23s;
}
.background li:nth-child(15) {
    left: 28%;
    width: 106px;
    height: 106px;
    bottom: -106px;
    animation-delay: 57s;
}
.background li:nth-child(16) {
    left: 35%;
    width: 119px;
    height: 119px;
    bottom: -119px;
    animation-delay: 72s;
}
.background li:nth-child(17) {
    left: 24%;
    width: 102px;
    height: 102px;
    bottom: -102px;
    animation-delay: 42s;
}
.background li:nth-child(18) {
    left: 16%;
    width: 131px;
    height: 131px;
    bottom: -131px;
    animation-delay: 73s;
}
.background li:nth-child(19) {
    left: 83%;
    width: 153px;
    height: 153px;
    bottom: -153px;
    animation-delay: 40s;
}
.background li:nth-child(20) {
    left: 54%;
    width: 105px;
    height: 105px;
    bottom: -105px;
    animation-delay: 24s;
}