@import 'tools/_variables.scss';
@import 'tools/_mixins.scss';

body {
    font-family: $font-stack-1;
    font-size: $font-size-base;
    color: var(--general-text-color);
    
}
*::selection {
    background: $color-brand-2;

}
h1, h2, h3, h4 {
    font-family: $font-stack-2;
    font-weight: 700;
}

ul.bulletList li {
    list-style: none;
    margin-bottom: 8px;

    &:before {
        content: '|';
        position: absolute;
        margin-left: -25px;
        margin-top: -8px;
        font-size: 1.7em;
        color: $color-brand-2;
    }
}

@import 'modules/_header.scss';
@import 'modules/_footer.scss';
@import 'modules/_project.scss';


.contentBody {
    padding-bottom: 50px;
}

/* HOME BANNER */
.bannerHome {
    z-index: -10;
    height: 100vh;
    overflow: hidden;
    transition: all .5s ease-in;
    display: flex;
    align-items: center;
    background-image: url(../images/banner/robert-katzki-jbtfM0XBeRc-unsplash.jpg);
    background-size: cover;
    background-position: center;
    margin:100px 2% 0 2%;

    & .bannerHome__caption {
        text-align: left;
        width: 45vw;
        left: 0;
        color:  $color-brand-1;
        background-color: $color-white;
        padding: 4% 5% 4% 7%;

        & h1{
            font-size: 2.2em;
            line-height: 2rem;
        }
        
        & p{
            font-size: 1.4em;
            margin-bottom: 0px;
            line-height: 1.8rem;
            clear: both;
        }
    }
}

/* About */
.RDO-about {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

}
.RDO-about__text {
    border: 5px solid $color-darker-gray;
    margin: 50px 20px 20px 0px;
    padding: 2.5%;
    & h2{
        font-size: 3rem;
        margin-bottom: 15px;
    }
    & p {
        font-size: $font-size-base + 5; 
    }
}
.RDO-about__cta {
    margin: 150px 0px 20px 20px;
    width: 500px;
    background-color: $color-comp-1;

    @extend .RDO-about__text;

    & p{
        font-weight: bold;
        font-size: 1.5rem;
    }
}


/*
-----------------------------
|| Coded by Ricardo Arévalo ||
-----------------------------
*/
